<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gönüllü Paneli</title>

    <!-- Custom fonts for this template-->
    <link href="~/Gonullu/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Gonullu/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center">
                <img src="~/AnaSayfa/logo.jpg" width="50" height="40" />
                <div class="sidebar-brand-text mx-3">Gönüllü</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" asp-area="Gonullu" asp-action="Index" asp-controller="AnaSayfa">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Ana Sayfa</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Gonullu" asp-action="Index" asp-controller="HastaHayvan">
                    <i class="fas fa-procedures"></i>
                    <span>Hasta Hayvanlar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Gonullu" asp-action="IyilestirilenHayvanlar" asp-controller="HastaHayvan">
                    <i class="fas fa-heart"></i>
                    <span>Iyileştirilen Hayvanlar</span>
                </a>
            </li>
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" asp-area="Gonullu" asp-action="Index" asp-controller="Profil">
                    <i class="fas fa-user"></i>
                    <span>Bilgilerimi Düzenle</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Gonullu" asp-controller="Bildirim" asp-action="Index">
                    <i class="fas fa-bell"></i>
                    <span>Bildirimler</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-area="Gonullu" asp-controller="AnaSayfa" asp-action="CikisYap">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Çıkış Yap</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <img src="~/AnaSayfa/logo.jpg" width="50" height="60" />
                    <h4 style="color:black;margin-left:6px;margin-top:15px;">Touch Hope</h4>

                    <ul class="navbar-nav ml-auto">
                        <h4 style="margin-top:18px;color:black;margin-right:6px">Touch Hope</h4>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <!-- Dropdown - User Information -->
                            <img src="~/AnaSayfa/logo.jpg" width="50" height="60" />
                        </li>

                    </ul>
                </nav>
                @RenderBody()

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    @RenderSection("JavaScript", false)
    <!-- Bootstrap core JavaScript-->
    <script src="~/Gonullu/vendor/jquery/jquery.min.js"></script>
    <script src="~/Gonullu/vendor/jquery/jquery.min.js"></script>
    <script src="~/Gonullu/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Gonullu/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Gonullu/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Gonullu/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Gonullu/js/demo/chart-area-demo.js"></script>
    <script src="~/Gonullu/js/demo/chart-pie-demo.js"></script>

</body>

</html>